.help-button, .pause-button, .sound-button {
  color: whitesmoke;
  position: absolute;
  font-size: 75px;
}

.help-button {
  top: 1%;
  left: 1%;
}

.pause-button {
  bottom: 1%;
  left: 1%;
}

.sound-button {
  bottom: 1%;
  right: 1%;
}